services:
  backend:
    build:
      context: .
    ports:
      - "8000:8000"
    healthcheck:
      test: [ "CMD-SHELL", "curl -f http://localhost:8000/docs/swagger || exit 1" ]
      interval: 5s
      timeout: 5s
      retries: 5